{{>head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Ojo y moneda </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae veritatis quibusdam earum autem eos nesciunt quo consequatur. Excepturi dolores sunt inventore culpa sequi! Consectetur assumenda explicabo laboriosam unde tenetur temporibus.</p>

    </div>

    <div class="col-4" >
        <img src="assets/img/ojo.jpg" class="img-thumbnail">
    </div>

</div>